$brown: #786450;

ul {
  margin: -17px 0 0 -35px;
  line-height: 150%;
  list-style: none;
}

.follow-card {
  margin-top: 15px;
  border-radius: 15px;
  background-color: rgb(246, 246, 203);
  border: none;
}

.follow-card-image {
  position: relative;
  width: 50px;
  height: 70px;
  margin-bottom: 10px;
  margin-left: 7px;

  .circle-1 {
    position: absolute;
    box-sizing: border-box;
    width: 76px;
    height: 76px;
    top: -3px;
    left: -3px;
    border-width: 1px;
    border-style: solid;
    border-color: $brown $brown $brown transparent;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
  }

  .circle-2 {
    @extend .circle-1;
    width: 82px;
    height: 82px;
    top: -6px;
    left: -6px;
    border-color: $brown transparent $brown $brown;
  }

  img {
    display: block;
    border-radius: 50%;
    background: #f5e8df;
  }

  &:hover {
    cursor: pointer;

    .circle-1 {
      transform: rotate(360deg);
    }

    .circle-2 {
      transform: rotate(-360deg);
    }
  }
}

.follow {
  margin-top: 10px;
  border-radius: 17px;
  color: rgb(163, 108, 60);
  border: 2px solid rgb(163, 108, 60);
  background-color: white;
  &:hover {
    color: white;
    background-color: #66bb6a;
    border: 2px solid white;
  }
}

.unfollow {
  margin-top: 10px;
  border-radius: 17px;
  color: white;
  border: 2px solid rgb(163, 108, 60);
  background-color: rgb(163, 108, 60);
  &:hover {
    color: white;
    border: 2px solid white;
    background-color: #ef5350;
  }
}
