
<ul>
  <li>
    <div class="frame">
      <div class="center">
        <div class="profile">
          <div class="row">
            <div class="col">
              <div class="image">
                <div class="circle-1"></div>
                <div class="circle-2"></div>
                <img
                  src="https://vignette.wikia.nocookie.net/houseofmouse/images/3/3e/%D0%A1%D0%B8%D0%BC%D0%B1%D0%B0.jpg/revision/latest?cb=20190426045836&path-prefix=ru"
                  width="70"
                  height="70"
                  alt="Jessica Potter"
                />
              </div>
            </div>
            <div class="col profile">
              <div class="name">The Lion King</div>
              <div class="handle">@Simba</div>
            </div>
            <div class="col-1">
              <div class="actions">
                <button class="btn">Follow</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="frame">
      <div class="center">
        <div class="profile">
          <div class="row">
            <div class="col">
              <div class="image">
                <div class="circle-1"></div>
                <div class="circle-2"></div>
                <img
                  src="https://i.pinimg.com/originals/0a/fd/ff/0afdff9c083f510b431a31b89b95f976.jpg"
                  width="70"
                  height="70"
                  alt="Jessica Potter"
                />
              </div>
            </div>
            <div class="col profile">
              <div class="name">Tomas Shelby</div>
              <div class="handle">@shelby</div>
            </div>
            <div class="col-1">
              <div class="actions">
                <button class="btn">Follow</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <div class="frame">
      <div class="center">
        <div class="profile">
          <div class="row">
            <div class="col">
              <div class="image">
                <div class="circle-1"></div>
                <div class="circle-2"></div>
                <img
                  src="https://img.freepik.com/free-vector/_18591-58479.jpg?size=338&ext=jpg"
                  width="70"
                  height="70"
                  alt="Jessica Potter"
                />
              </div>
            </div>
            <div class="col profile">
              <div class="name">Tomas Brown</div>
              <div class="handle">@Tomas</div>
            </div>
            <div class="col-1">
              <div class="actions">
                <button class="btn">Follow</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
