<ul class="nav sticky-top flex-column">
  <li class="nav-item">
    <a class="nav-link active h4" (click)="onHomeRedirect()"
      ><i class="fas fa-home"></i> Home</a
    >
  </li>
  <li class="nav-item">
    <a (click)="onNotification()" class="nav-link h4"
      ><i class="fas fa-bell"></i><span class="notification-count" [ngStyle]="{'display':  NotificationsQuantity === 0? 'none' : '' }"><span>{{NotificationsQuantity}}</span></span> Notification</a
    >
  </li>
  <li class="nav-item">
    <a (click)="onMessage()" class="nav-link h4"
      ><i class="fas fa-envelope"></i> Message</a
    >
  </li>
  <li class="nav-item">
    <a (click)="onProfileRedirect()" class="nav-link h4"
      ><i class="fas fa-user"></i> Profile</a
    >
  </li>
  <li class="nav-item">
    <a (click)="onLogOut()" class="nav-link h4" href="#"
      ><i class="fas fa-sign-out-alt"></i> Log Out</a
    >
  </li>
</ul>
