<div class="container-fluid">
  <div class="row no-gutters align-ites-center ">
    <div class="col-md-8  d-none d-md-block">
      <div class="leftside text-center">
        <div class="container h-100">
          <div class="row h-100 justify-content-center align-items-center ">
            <img
              [src]="imagePath + 'logo.PNG'"
              alt=""
              class="img-fluid img-responsive  .hidden-md-down logo"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4  col-12 ">
      <div class="rightside my-auto text-center">
        <!-- <div class="container-fluid text-center pt-5">
          <h4 class="h1">Not a Gopher?</h4>
          <button
            (click)="onRegisterClick()"
            type="button"
            class="btn btn-lg my-3 py-3"
            id="signup"
          >
            Sign up now
          </button>

          <div class="container pt-5 ">
            <div class="separator">OR</div>
          </div>
        </div>
        <div class="container">
          <div class="form-group  my-md-5 my-sm-4 my-xs-1">
            <label for="email">Handle or Email address:</label>
            <input
              type="text"
              class=" form-control form-control-lg "
              required
              [(ngModel)]="user.login"
              name="handle"
              #handle="ngModel"
            />
          </div>
          <div class="form-group ">
            <label for="pwd">Password:</label>
            <input
              type="password"
              required
              class="form-control form-control-lg"
              [(ngModel)]="user.password"
              name="password"
              #password="ngModel"
            />
          </div>
          <div class="checkbox text-center mt-5">
            <button type="button" class="btn btn-lg my-3 py-3" id="signup">
              Sign in
            </button>
          </div>
        </div>
      </div> -->

        <div class="container h-100">
          <div class="row h-100 justify-content-center align-items-center ">
            <form class="col-10" #f="ngForm" (ngSubmit)="login(f)">
              <div class="container">
                <div class="form-group  my-md-4 my-sm-4 my-xs-1">
                  <label for="email">Handle or Email address:</label>
                  <input
                    type="email"
                    required
                    class="form-control "
                    [(ngModel)]="user.email"
                    name="email"
                    #email="ngModel"
                  />
                </div>
                <div class="form-group my-md-4 my-sm-4 my-xs-1">
                  <label for="pwd">Email address:</label>
                  <input
                    type="text"
                    required
                    class="form-control "
                    required
                    [(ngModel)]="user.login"
                    name="handle"
                    #handle="ngModel"
                  />
                </div>
                <div class="form-group my-md-4 my-sm-4 my-xs-1">
                  <label for="pwd">Password:</label>
                  <input
                    type="password"
                    required
                    class="form-control"
                    [(ngModel)]="user.password"
                    name="password"
                    #password="ngModel"
                  />
                </div>
                <div
                  class="form-group justify-content-center align-items-center my-md-4 my-sm-4 my-xs-1"
                >
                  <label for="pwd">Confirm Password:</label>
                  <input
                    type="password"
                    required
                    class="form-control"
                    [(ngModel)]="user.confirmPassword"
                    name="confirmPassword"
                    #confirmPassword="ngModel"
                  />
                </div>

                <div class="form-group my-md-5 my-sm-4 my-xs-1">
                  <!-- <p *ngIf="errorDisplay">{{ this.errorText }}</p> -->
                  <button type="button" class="btn btn-lg btn-block">
                    Sign in
                  </button>
                  <!--          <button (click)="onRegisterClick()" style="background-color: darkblue">Sign Up</button>-->
                </div>
              </div>
            </form>
            <div class="h5 mb-5">
              Already have an account?
              <a (click)="onLogin()">Log In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
