.leftside,
.rightside {
  height: 100vh;
  width: 100%;
}
.container-fluid {
  width: 100%;
  padding: 0px 0px 0px 0px;
}

.leftside {
  background-color: rgb(234, 224, 199);
}

input,
button {
  border-radius: 150px !important;
}
input:focus {
  box-shadow: none;
}
.btn {
  background-color: rgb(85, 59, 56);
  color: white;
  &:hover {
    background-color: rgb(132, 80, 40);
  }
  &:active {
    background-color: rgb(85, 59, 56);
    border-color: black;
  }
  &:focus {
    box-shadow: none;
  }
}
a {
  cursor: pointer;
  color: rgb(85, 59, 56);
  text-decoration: underline;
  &:hover {
    color: rgb(132, 80, 40);
  }
}
