<!-- <router-outlet></router-outlet> -->

<div class="d-flex justify-content-center py-3">
  <h2 class="h2 font-weight-bold h-100">Gophster</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 d-none d-md-block">
      <app-dashboard></app-dashboard>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div id="timeline">
        <app-timeline></app-timeline>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 d-none d-md-block">
      <app-sidebar></app-sidebar>
    </div>
    <div class="d-block d-sm-none d-none d-sm-block d-md-none">
      <app-bottom-nav-bar></app-bottom-nav-bar>
    </div>
  </div>
</div>


