<div class="container post py-2">
  <textarea
    class="form-control"
    placeholder="What's Happening?"
    [(ngModel)]="post"
    rows="2"
  ></textarea>
  <div class="row px-3">
    <span [ngClass]="{'text-danger': post.length > countStringSize}" class="text-success">{{post.length}}/{{countStringSize}}</span>
    <button (click)="onGopher()" type="button" class="ml-auto btn my-1 mr-1 px-4" *ngIf="!editMode">
      Submit
    </button>
    <span *ngIf="editMode" class="ml-auto">
    <button  type="button" class="btn my-1 mr-2 px-4" (click)="cancelEditGoph()">
      Cancel
    </button>
      <button type="button" class="btn my-1 mr-1 px-4" (click)="onEditGoph()">
      Edit
    </button>
    </span>
  </div>
</div>

<div *ngFor="let postItem of posts" class="container display-post mt-2">
  <div class="row">
    <div class="col-10 col-xs-11 col-sm-11 col-md-11 col-lg-11">
      <h6 class="h6 mt-2">@{{ obj.handle }}</h6>
      <span class="pr-1">
        {{ postItem.text }}
      </span>
    </div>
    <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1">
      <div class="btn-group dropleft">
        <a
          data-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="true"
          href=""
        >
          <i class="fas fa-sort-down"></i>
        </a>
        <div class="dropdown-menu row" aria-labelledby="dropdownMenu2">
          <a class="" (click)="deleteGoph(postItem)">
            <i class="fas fa-trash-alt"></i> Delete</a
          >
          <a class="" (click)="editGoph(postItem)">
            <i class="fas fa-edit "></i> Update</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
