<div class="container post py-2">
  <textarea
    class="form-control"
    placeholder="What's Happening?"
    [(ngModel)]="post"
    rows="4"
  ></textarea>
  <div class="row px-3">
    <span
      [ngClass]="{ 'text-danger': post.length > countStringSize }"
      class="text-success"
      >{{ post.length }}/{{ countStringSize }}</span
    >
    <button
      (click)="onGopher()"
      type="button"
      class="ml-auto btn my-1 mr-1 px-4"
    >
      Submit
    </button>
  </div>
</div>

<div
  *ngFor="let postItem of posts"
  class="container display-post mt-2"
  (click)="onItemClick(postItem.id)"
>
  <div class="row">
    <div class="col-2 mr-3 mr-md-0">
      <img
        class="my-3"
        src="{{ postItem.author.avatar }}"
        width="70"
        height="70"
        alt="Avatar"
        style="border-radius: 50%;"
      />
      <i class="fas fa-retweet ml-3 pb-1">7</i>
    </div>
    <div class="col-9 col-md-10">
      <div class="row">
        <div class="col-10 col-xs-11 col-sm-11 col-md-11 col-lg-11">
          <h6 class="h5 mt-2">@{{ postItem.author.handle }}</h6>
          <hr />
          <span class="pr-1" style="word-break: break-all;">
            {{ postItem.text }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()"
></div>
