$brown: #786450;
.container,
.container > *,
.card-header,
.list-group-item,
.card-footer {
  background-color: rgb(246, 246, 203);
  color: rgb(163, 108, 60);
}
.container {
  border-radius: 20px;
}

div.gophheader .item {
  color: rgb(163, 108, 60);
  text-align: center;
}
.avatar {
  width: 82px;
  height: 82px;
  border-radius: 50%;
}

hr {
  margin-top: 0rem;
}
.modal-body,
.modal-footer {
  background-color: rgb(246, 246, 203);

  textarea {
    border-radius: 15px;
    resize: none;
  }
}
button {
  background-color: white;
  border: 2px solid #a36c3c;
  color: rgb(164, 108, 60);
  border-radius: 20px;

  &:hover {
    background-color: rgb(164, 108, 60);
    color: whitesmoke;
  }
  &:active {
    background-color: rgb(164, 108, 60);
    border-color: black;
  }
  &:focus {
    box-shadow: none;
  }
}

.row {
  border-radius: 20px;
}
