<div class="container">
  <div class="gophheader pb-1 my-2">
    <div class="item">
      <img class="my-3 avatar" src="{{ goph.author.avatar }}" alt="Avatar" />
      <h6 class="h5" *ngIf="goph.author.name">{{ goph.author.name }}</h6>
      <h6 class="h5">@{{ goph.author.handle }}</h6>
    </div>
  </div>

  <hr />
  <div class="gophtext my-3">
    {{ goph.text }}
  </div>
  <hr />
  <div class="chat-form">
    <form class="form-horizontal">
      <div class="row">
        <div class="col-7 col-md-10 mb-2">
          <b>{{ goph.created }}</b>
        </div>
        <div class="col-5 col-md-2">
          <i
            class="fa fa-reply"
            type="button"
            data-toggle="modal"
            data-target="#addReplay"
            aria-hidden="true"
          >
            Reply</i
          >
          <!-- Modal -->
          <div
            class="modal fade"
            id="addReplay"
            tabindex="-1"
            role="dialog"
            aria-labelledby="addReplayLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label"
                      >What's on your mind ?</label
                    >

                    <textarea
                      class="form-control"
                      id="recipient-name"
                      cols="5"
                      rows="5"
                    ></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-secondary">
                    Save changes
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container my-3" id="replybox">
  <div class="row">
    <div class="col-2 mr-3 mr-md-0">
      <img
        class="my-3"
        width="70"
        height="70"
        src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/spongebob-squarepants-1592120738.jpg?crop=0.482xw:1.00xh;0.169xw,0&resize=480:*"
        alt="Avatar"
        style="border-radius: 50%;"
      />
    </div>
    <div class="col-9 col-md-10 my-2">
      <div class="row">
        <div class="col-10">
          <h6 class="h5 mt-2">@SpongeBob</h6>
          <hr />
          <span class="pr-1">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
