<div class="container" *ngIf="activeUser">
  <div class="chatheader pb-1" >
    <div class="item mt-2"  *ngFor="let item of conversationUsers" [ngClass]="{'activated': item.handle === activeUser.handle}">
      <a (click)="selectActiveUser(item)">
        <img
          src="{{item.avatar}}"
          class="message-photo"
        />
        <p class="handle mt-2 lead" style="font-weight: bold;">@{{item.handle}}</p>
      </a>
    </div>
  </div>

  <hr />
  <div class="chat-log" *ngIf="activeUser && conversations[activeUser.id]" #conversationDiv>
    <div class="chat-log__item" [ngClass]="{'chat-log__item--own': message.author.handle === currentUser.handle}" *ngFor="let message of conversations[activeUser.id].items">
      <h3 class="chat-log__author">{{message.author.handle}}<small class="ml-2">{{message.created | date: 'HH:MM'}}</small></h3>
      <div class="chat-log__message" style="word-break: break-all;">{{message.message}}</div>
    </div>
  </div>
  <hr />
  <div class="chat-form">
      <div class="row">
        <div class="col-10">
          <input
            type="text"
            class="form-control input-lg"
            id=""
            placeholder="Message"
            [(ngModel)] = message
          />
        </div>
        <div class="col-2">
          <i class="far fa-paper-plane fa-lg" (click)="onMessageSend()"></i>
        </div>
      </div>
  </div>
</div>

<div class="container" *ngIf="activeUser === null">
  Please message to someone
</div>
