$brown: #786450;
.container,
.container > *,
.card-header,
.list-group-item,
.card-footer {
  background-color: rgb(246, 246, 203);
  color: rgb(163, 108, 60);
}
.container {
  border-radius: 20px;
}
.card-header {
  margin-left: 10%;
}
.card {
  border: none;
  padding-bottom: 1rem;
}
.follow-card-image {
  width: 50px;
  height: 60px;
  img {
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    //  background: #f5e8df;
  }
}
.message {
  border-radius: 20px;
  border: none;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .text {
    position: relative;
    left: 22%;
  }
}

@media only screen and (max-height: 650px) {
  .card-body {
    padding-bottom: 0;
    height: 18rem !important;
    overflow: auto;
  }
}
@media only screen and (min-height: 650px) {
  .card-body {
    padding-bottom: 0;
    height: 24rem !important;
    overflow: auto;
  }
}
@media only screen and (min-height: 710px) {
  .card-body {
    padding-bottom: 0;
    height: 27rem !important;
    overflow: auto;
  }
}
.card-body {
  padding-bottom: 0;
  height: 27rem;
  overflow: auto;
}

.messagefrom {
  font-size: 16px;
  padding-left: 10px;
}
.messageto {
  font-size: 18px;
  padding-right: 10px;
  float: right;
}
.messageareato {
  background-color: whitesmoke;
  float: RIGHT;
  border-radius: 20px;
  width: 100%;
  height: 2rem;
  margin-top: 10px;
}
.messageareafrom {
  background-color: white;
  border-radius: 20px;
  border: none;
  height: 2rem;
}
