<div class="container">
  <div class="chatheader pb-1">
    <div class="item">
      <a href="">
        <img
          src="http://movingimages.files.wordpress.com/2009/10/earth-simulator-offers-peaks-into-our-planetary-future.jpg?w=780"
          class="message-photo"
        />
        <p class="handle">@ArtZ</p>
      </a>
    </div>

    <div class="item">
      <a href="">
        <img
          src="http://movingimages.files.wordpress.com/2009/10/earth-simulator-offers-peaks-into-our-planetary-future.jpg?w=780"
          class="message-photo"
        />
        <p class="handle">@AleksandrePalavandishvili</p>
      </a>
    </div>
    <div class="item">
      <a href="">
        <img
          src="http://movingimages.files.wordpress.com/2009/10/earth-simulator-offers-peaks-into-our-planetary-future.jpg?w=780"
          class="message-photo"
        />
        <p class="handle">@KApoka</p>
      </a>
    </div>
    <div class="item">
      <a href="">
        <img
          src="http://movingimages.files.wordpress.com/2009/10/earth-simulator-offers-peaks-into-our-planetary-future.jpg?w=780"
          class="message-photo"
        />
        <p class="handle">@ArtZ</p>
      </a>
    </div>
  </div>

  <hr />
  <div class="chat-log">
    <div class="chat-log__item">
      <h3 class="chat-log__author">Felipe <small>14:30</small></h3>
      <div class="chat-log__message" style="word-break: break-all;">Yo man</div>
    </div>
    <div class="chat-log__item chat-log__item--own">
      <h3 class="chat-log__author">Fabrício <small>14:30</small></h3>
      <div class="chat-log__message" style="word-break: break-all;">
        sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
      </div>
    </div>
  </div>
  <hr />
  <div class="chat-form">
    <form class="form-horizontal">
      <div class="row">
        <div class="col-10">
          <input
            type="text"
            class="form-control input-lg"
            id=""
            placeholder="Message"
          />
        </div>
        <div class="col-2">
          <i class="far fa-paper-plane fa-lg"></i>
        </div>
      </div>
    </form>
  </div>
</div>
