<div class="container">
  <div class="card">
    <div class="card-header mt-2">
      <h1 class="h4">Notification</h1>
    </div>
    <ul class="list-group list-group-flush" *ngFor="let item of notifications" >
      <li class="list-group-item" (click)="onNotificationClick(item.link)">
        <div class="row align-items-center">
          <div class="col-1"><i class="far fa-bell fa-lg"></i></div>
          <div class="col-3">
            <div class="follow-card-image">
              <img
                src="{{item.initiator.avatar}}"
                alt="Jessica Potter"
              />
            </div>
          </div>
          <div class="col-7" [innerHTML]="item.text">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
