<div class="container post py-2">
  <div class="row">
    <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <img
        src="{{ user.avatar }}"
        class="rounded-circle img-thumbnail img-responsive py-2"
        alt="User Avatar"
      />
    </div>
    <div class="col-5 col-xs-5 col-sm-5 col-md-5 col-lg-5 py-3">
      <span>
        <h5>{{ user.name }}</h5>
        <h6 class="h5">@{{ user.handle }}</h6>
      </span>
      <button
        class="btn mt-4 follow"
        *ngIf="routeParam && routeParam !== mainHandle && !followButton"
        (click)="onFollow()"
      >
        Follow
      </button>
      <button
        class="btn mt-4 unfollow"
        *ngIf="routeParam && routeParam !== mainHandle && followButton"
        (click)="onUnfollow()"
      >
        Unfollow
      </button>
    </div>
    <div class="col-3 col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <a id="modal " data-toggle="modal" data-target="#profileEdit">
        <span
          class="d-none d-md-inline"
          *ngIf="!routeParam || routeParam === mainHandle"
        >
          <i class="fas fa-cog"></i> Edit Profile
        </span>
        <div
          class="msgicon posisiton-absolute"
          (click)="onMessageClick(user.handle)"
        >
          <button class="btn writemsg" *ngIf="routeParam">
            <i class="fas fa-envelope"></i>
            Message
          </button>
        </div>

        <span class="d-md-none" *ngIf="!routeParam || routeParam === mainHandle">
          <i class="float-right mt-2 fas fa-lg fa-cog"></i>
        </span>
      </a>
    </div>
  </div>
  <hr />
  <div class="row mt-3 icons">
    <span class="ml-4 mr-3">
      <i class="fas fa-map-marker-alt mr-1" *ngIf="user.location"></i
      >{{ user.location }}</span
    >
    <span clsss="ml-3 icons">
      <i class="fas fa-gift mr-1" *ngIf="user.birthdate"></i>{{ birthDate }}
    </span>
    <span class="ml-3 icons" data-toggle="modal" data-target="#followersModal" (click)="onFollowersClick()">
      <i class="fas fa-user-friends"></i>
      <span class="d-none d-md-inline">
        Followers:
      </span>
      {{ this.user.followersAmount }}
    </span>
    <span class="ml-3 icons" data-toggle="modal" data-target="#followingModal" (click)="onFollowingClick()">
      <i class="fas fa-lg fa-running"></i>
      <span class="d-none d-md-inline">
        Following:
      </span>
      {{ this.user.followingAmount }}
    </span>
  </div>
</div>

<!--Following Modal -->
<div
  class="modal fade"
  id="followingModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="followingModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title justify-content-center">Following</h5>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="background-color: #a36c3c;">
            <div class="row align-items-center followgroup mt-2" *ngFor="let item of followings" (click)="onFollowItemClick(item.handle, 'following')">
              <div class="col-2">
                <img
                  class="my-3 followimg"
                  src="{{item.avatar}}"
                  width="50"
                  height="50"
                  alt="Avatar"
                />
              </div>

              <div class="col-7 col-md-9 ml-4 ml-md-0">
                <span class="followerinfo mt-2">
                  <p>@{{item.handle}}</p>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--Followers Modal -->
<div
  class="modal fade"
  id="followersModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="followersModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title justify-content-center">Followers</h5>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="background-color: #a36c3c;">
            <div class="row align-items-center followgroup mt-2" *ngFor="let item of followers" (click)="onFollowItemClick(item.handle, 'followers')">
              <div class="col-2">
                <img
                  class="my-3 followimg"
                  src="{{item.avatar}}"
                  width="50"
                  height="50"
                  alt="Avatar"
                />
              </div>

              <div class="col-7 col-md-9 ml-4 ml-md-0">
                <span class="followerinfo mt-2">
                  <p>@{{item.handle}}</p>
                </span>
              </div>
            </div >
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div
  *ngFor="let postItem of posts; let i = index"
  class="container display-post mt-2"
>
  <div class="row">
    <div class="col-2 mr-3 mr-md-0">
      <img
        class="mb-4 mt-2"
        src="{{ postItem.author.avatar }}"
        width="70"
        height="70"
        alt="Avatar"
        style="border-radius: 50%;"
        (click)="onGophAvatarClick(user.handle)"
      />
    </div>
    <div class="col-9 col-md-10">
      <div class="row">
        <div class="col-10 col-xs-11 col-sm-11 col-md-11 col-lg-11">
          <h6 class="h5 mt-2">@{{ postItem.author.handle }}</h6>
          <hr />
          <span class="pr-1" style="word-break: break-all;">
            <span *ngIf="postItem.editMode">
              <input
                type="text"
                class="form-control form-control-lg"
                name="text"
                id="text"
                [(ngModel)]="postItem.text"
              />
            </span>
            <span *ngIf="!postItem.editMode">{{ postItem.text }}</span>
          </span>
          <span class="ml-auto" style="float: right;" *ngIf="postItem.editMode">
            <button
              type="button"
              class="btn my-1 mr-2 px-4"
              (click)="cancelEditGoph(i)"
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn my-1 mr-1 px-4"
              (click)="onEditGoph(postItem, i)"
            >
              Edit
            </button>
          </span>
        </div>
        <div
          class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1"
          *ngIf="!routeParam"
        >
          <div class="btn-group dropleft">
            <a
              data-toggle="dropdown"
              aria-expanded="false"
              aria-haspopup="true"
              href=""
            >
              <i class="fas fa-sort-down"></i>
            </a>
            <div class="dropdown-menu row" aria-labelledby="dropdownMenu2">
              <a class="" (click)="deleteGoph(postItem)">
                <i class="fas fa-trash-alt"></i> Delete</a
              >
              <a class="" (click)="editGoph(i)">
                <i class="fas fa-edit"></i> Update</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <span><i class="fas fa-retweet fa-lg mr-1 mb-3"></i><b>{{postItem.repliesAmount}}</b></span>
    </div>
  </div>
</div>
<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()"
></div>

<!-- MODAL -->
<div
  class="modal fade"
  id="profileEdit"
  tabindex="-1"
  role="dialog"
  aria-labelledby="profileEditTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <form>
      <div class="modal-content">
        <div class="modal-body">
          <div class="form-group my-md-4 my-sm-4 my-xs-1">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control form-control-lg"
              name="name"
              id="name"
              [(ngModel)]="obj.name"
            />
          </div>
          <div class="form-group my-md-3 my-sm-4 my-xs-1">
            <label for="location">Location</label>
            <input
              type="location"
              id="location"
              class="form-control form-control-lg"
              name="location"
              [(ngModel)]="obj.location"
            />
          </div>
          <div class="form-group my-md-3 my-sm-4 my-xs-1">
            <label for="birthdate">Birth Date</label>
            <input
              type="date"
              id="birthdate"
              class="form-control form-control-lg"
              name="birth-date"
              [ngModel]="birthDate | date: 'yyyy-MM-dd'"
              (ngModelChange)="onDateChoose($event)"
            />
          </div>
          <div class="form-group my-md-3 my-sm-4 my-xs-1">
            <label class="file-label"
              >Avatar
              <input
                class="file-input"
                type="file"
                name="resume"
                (change)="fileChange($event)"
              />
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary" (click)="sendData()">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--Following Modal -->
<div
  class="modal fade"
  id="followingModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="followingModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title justify-content-center">Following</h5>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="background-color: #a36c3c;">
            <div
              class="row align-items-center followgroup mt-2"
            >
              <div class="col-2">
                <img
                  class="my-3 followimg"
                  src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/SpongeBob_SquarePants_character.svg/1200px-SpongeBob_SquarePants_character.svg.png"
                  width="50"
                  height="50"
                  alt="Avatar"
                />
              </div>

              <div class="col-7 col-md-9 ml-4 ml-md-0">
                <span class="followerinfo mt-2">
                  <p>@handle</p>
                  <br />
                  <p class="ml-2">Sponge</p>
                </span>
              </div>
            </div>
            <div class="row align-items-center followgroup mt-2">
              <div class="col-2">
                <img
                  class="my-3 followimg"
                  src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/SpongeBob_SquarePants_character.svg/1200px-SpongeBob_SquarePants_character.svg.png"
                  width="50"
                  height="50"
                  alt="Avatar"
                />
              </div>

              <div class="col-7 col-md-9 ml-4 ml-md-0">
                <span class="followerinfo mt-2">
                  <p>@handle</p>
                  <br />
                  <p class="ml-2">Sponge</p>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--Followers Modal -->
<div
  class="modal fade"
  id="followersModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="followersModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title justify-content-center">Followers</h5>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="background-color: #a36c3c;">
            <div
              class="row align-items-center followgroup mt-2"
            >
              <div class="col-2">
                <img
                  class="my-3 followimg"
                  src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/SpongeBob_SquarePants_character.svg/1200px-SpongeBob_SquarePants_character.svg.png"
                  width="50"
                  height="50"
                  alt="Avatar"
                />
              </div>

              <div class="col-7 col-md-9 ml-4 ml-md-0">
                <span class="followerinfo mt-2">
                  <p>@handle</p>
                  <br />
                  <p class="ml-2">Sponge</p>
                </span>
              </div>
            </div>
            <div class="row align-items-center followgroup mt-2">
              <div class="col-2">
                <img
                  class="my-3 followimg"
                  src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/SpongeBob_SquarePants_character.svg/1200px-SpongeBob_SquarePants_character.svg.png"
                  width="50"
                  height="50"
                  alt="Avatar"
                />
              </div>

              <div class="col-7 col-md-9 ml-4 ml-md-0">
                <span class="followerinfo mt-2">
                  <p>@handle</p>
                  <br />
                  <p class="ml-2">Sponge</p>
                </span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
