.container {
  border: 1px solid rgb(246, 246, 203);
  outline: none;
  border-radius: 15px;
  line-height: 2;
  background-color: rgb(246, 246, 203);
}
textarea {
  padding: 10px;
  color: rgb(185, 110, 45);
  border: none;
  outline: none;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
  height: auto;
  background-color: rgb(246, 246, 203);
  &:focus {
    background-color: rgb(246, 246, 203);
    color: rgb(163, 108, 60);
    outline: 0;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

button {
  background-color: rgb(179, 135, 89);
  border-radius: 15px;
  color: white;
  &:hover {
    background-color: rgb(164, 108, 60);
  }
  &:active {
    background-color: rgb(164, 108, 60);
    border-color: black;
  }
  &:focus {
    box-shadow: none;
  }
}
a,
h6 {
  color: rgb(179, 135, 89);
}
::placeholder {
  color: rgb(179, 135, 89);
}
.dropdown-menu {
  max-height: max-content;
  max-width: max-content;
  background-color: rgb(246, 246, 203);
  color: rgb(179, 135, 89);
  border-radius: 12px;
  a {
    display: block;
    text-align: center;
  }
  box-shadow: 1px 1px rgb(164, 108, 60);
}
span {
  color: rgb(164, 108, 60);
}

a,
i {
  color: rgb(163, 108, 60);
  &:hover {
    cursor: pointer;
  }
}

.wrap {
  height: auto;
  width: auto;
  display: flex;
}

.wrap span {
  align-self: flex-end;
}

.modal-body,
.modal-footer,
.modal-header {
  color: white;
  background-color: rgb(163, 108, 60);
  input {
    background-color: rgb(246, 246, 203);
    border-radius: 15px;
  }
  button {
    background-color: white;
    color: rgb(163, 108, 60);
  }
}

.follow {
  width: 145px;
  color: rgb(163, 108, 60);
  border: 2px solid rgb(163, 108, 60);
  background-color: white;
  &:hover {
    color: white;
    background-color: #66bb6a;
    border: 2px solid white;
  }
}

.unfollow {
  width: 145px;
  color: white(163, 108, 60);
  border: 2px solid rgb(163, 108, 60);
  background-color: rgb(163, 108, 60);
  &:hover {
    color: white;
    border: 2px solid white;
    background-color: #ef5350;
  }
}

.rounded-circle {
  object-fit: cover;
  width: 330px;
  height: 157px;
}

@media only screen and (max-width: 40em) {
  .rounded-circle {
    margin-top: 13px;
    width: 300px;
    height: 100px;
  }
}

input[type="file"] {
  font-size: larger;
  width: 100%;
  color: rgb(163, 108, 60);
}
.fas {
  color: rgb(164, 108, 60);
}
.followimg {
  border-radius: 50%;
  border: 1.5px solid rgb(163, 108, 60);
}
.followgroup {
  background-color: #f6f6cb;
  border-radius: 20px;
  border: 1px solid;
  cursor: pointer;
}
.followerinfo {
  color: rgb(163, 108, 60);
  line-height: 10px;
  display: flex;
}
.icons {
  cursor: pointer;
}
.msgicon {
  bottom: 0;
  position: absolute;
}
